.container {
    margin-top: 50px;

    & h1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        // background-color: black;
        text-align: center;
        color: black;
        font-size: 60px;
        font-weight: bold;
      
        //margin: 0;
        padding: 0;
        width: 600px;
        letter-spacing: 24px;
      }

   & .listBox {
        background-color: #F5F5EF;
        padding: 10px 20px 10px 20px ;
        border-radius: 10px;
        font-size: 18px;
        margin-bottom: 20px;
        

        -webkit-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
        & .heder {
           font-weight: bold; 
        }
    
        & .collapseBox {
           border-top: 1px black solid; 
           padding-top: 5px;

        }
    }

}
