<main class="container">
    <div class="wrapper">
        <div id="ico">ico</div>
        <div id="line">
            <div class="one"></div>
            <div class="two">
                <div class="black"></div>
                <div class="white"></div>
                <div class="black"></div>
                <div class="white"></div>
                <div class="black"></div>
                <div class="white"></div>
                <div class="black"></div>
            </div>
            <div class="one"></div>
        </div>
        <div id="form">form</div>
    </div>
</main>
