<main class="container">
       <h1>
        SoGoodSoGoo
        </h1>   
  <div class="wrapper">

    <div id="ico"><i class="fa-solid fa-route fa-4x"></i></div>
    <div id="line">
      <div class="one"></div>
      <div class="two">
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
        <div class="white"></div>
        <div class="black"></div>
      </div>
      <div class="one"></div>
    </div>
    <div id="form">
      <div id="title">
        Sign in
      </div>
      <button class="btn btn-primary">test</button>
      <form action="">

      </form>
    </div>
  </div>
</main>
