<div id="separate">

</div>
<div class="myContainer">
  <div class="row">
    <div class="white">
      <div id="sekcja_1">
        Odkryj z nami świat
      </div>
      <h1>Twoje podróże to nasza pasja!</h1>
    </div>
    <div class="yellow"><img [src]="'assets/images/30.png'" alt=""></div>
  </div>
</div>

<div class="myContainer">
  <div class="row">
    <div class="yellow"><img [src]="'assets/images/29.png'" alt=""></div>
    <div class="white">
      <div id="sekcja_2">Każda podróż ma swój punkt początkowy oraz punkt końcowy, to nasza definicja podróży</div>
      <h1>Twoje podróże to nasza pasja!</h1>
    </div>
  </div>
</div>

<div class="myContainer">
  <div class="row">
    <div class="white">
      <div id="sekcja_3">"Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est
        laborum."</div>
      <h1>Twoje podróże to nasza pasja!</h1>
    </div>
    <div class="yellow"><img [src]="'assets/images/28.png'" alt=""></div>
  </div>
</div>

<div class="myContainer">
  <div class="row">
    <div class="yellow"><img [src]="'assets/images/27.png'" alt=""></div>
    <div class="white">
      <div id="sekcja_4">"Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est
        laborum."</div>
      <h1>Twoje podróże to nasza pasja!</h1>
    </div>
  </div>
</div>
<!-- <section>
  <div class="yellow">test</div>
  <div class="white">test</div>
</section> -->
